 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>HackTheBox</h2>
      <img src="https://www.hackthebox.com/badge/image/137337">
      <a class="project-link" href="https://app.hackthebox.com/profile/137337">Check it out</a>
    </div>
    <div class="tech">
      <h2>TryHackMe</h2>
      <script src="https://tryhackme.com/badge/29112"></script>
      <a class="project-link" href="https://tryhackme.com/p/mvc1009">Check My Profile</a>
    </div>
</div>