<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user-details">
  <h1> Certifications </h1>
</div>
<div class="user">
  <div class="tech">
    <h2> CRTO </h2>
    <img alt="" height="150px" src="{{ "/assets/img/crto.png" | prepend: site.baseurl }}" />
    <br>
    <p>ID: 636b60a8d1dfbf37413baa6f</p>
    <a class="project-link" style="font-size:18px" href="https://api.eu.badgr.io/public/assertions/6vkVivufQC-_DpbPdhn1YQ">Verify</a>
  </div>
  <div class="tech">
  <div class="tech">
    <h2> CRTP </h2>
    <img alt="" height="150px" src="{{ "/assets/img/crtp.png" | prepend: site.baseurl }}" />
    <br>
    <p>ID: 54249593</p>
    <a class="project-link" style="font-size:18px" href="https://www.credential.net/43f551cd-9495-4065-837e-bcc2336aba40">Verify</a>
  </div>
  <div class="tech">
    <h2> OSCP </h2>
    <img alt="" height="150px" src="{{ "/assets/img/oscp.png" | prepend: site.baseurl }}" />
    <br>
    <p>ID: OS-101-43616</p>
    <a class="project-link" style="font-size:18px" href="https://www.credential.net/0b020d3c-f931-4017-9c98-e1a705ac482e">Verify</a>
  </div>
    <div class="tech">
    <h2> eJPT </h2>
    <img alt="" height="150px" src="{{ "/assets/img/eJPT.png" | prepend: site.baseurl }}" />
    <br>
    <p>ID: 6861946</p>
    <a class="project-link" style="font-size:18px" href="https://elearnsecurity.com/verify-certificate/?c=38e4a0ad-4857-4097-965f-9a96b65fdfae">Verify</a>
  </div>
</div>


<div class="user-details">
  <h1> CTF Profiles </h1>
  <div class="user">
    <div class="tech">
      <h2>HackTheBox</h2>
      <img src="https://www.hackthebox.com/badge/image/137337">
      <br>
      <a class="project-link" style="font-size:18px" href="https://app.hackthebox.com/profile/137337">Check My Profile</a>
    </div>
    <div class="tech">
      <h2>TryHackMe</h2>
      <script src="https://tryhackme.com/badge/29112"></script>
      <br>
      <a class="project-link" style="font-size:18px" href="https://tryhackme.com/p/mvc1009">Check My Profile</a>
    </div>
  </div>
</div>