<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/boy-crying.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hacking Notes</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>I haven't discovered the wheel yet, so I put all finds together to easily find during my pentests. As I find new environments during my large learning process, I will update the list with these info.</p>
    <a class="project-link" href="/hackingnotes/">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dnslookuper.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
      <br>
      <h3> DNSLookuper</h3>
      <ul>
        <li> Tool</li>
      </ul>
      <p>Reconnaissance is one of the most important part in a Red Team assessment, so this tool helps you to "traduce" or resolve all DNS queries in an automatic way.</p>
      <a class="project-link" href="https://github.com/mvc1009/DNSLookuper">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/qrexfil.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> QRExf1l</h3>
    <ul>
      <li> Toool</li>
    </ul>
    <p>QRExf1l is a C# assembly that converts files into QRs in order to help exfiltration tasks during our Red Team assessments.</p>
    <a class="project-link" href="https://github.com/mvc1009/QRExf1l">Check it out</a>
  </div>
</div>