<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/boy-crying.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hacking Notes</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>I haven't discovered the wheel yet, so I put all finds together to easily find during my pentests. As I find new environments during my large learning process, I will update the list with these info.</p>
    <a class="project-link" href="/hackingnotes/">Check it out</a>
  </div>
  
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="https://camo.githubusercontent.com/1c1b3c8ca63652fd0b2e1a17472fcff929884da879111acc756256dfc9702389/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f5a646c3150595a77346b7a316453755036312f67697068792e676966" />
  </div>
  <div class="contents-right">
      <br>
      <h3> DNSLookuper</h3>
      <ul>
        <li> Tool</li>
      </ul>
      <p>Reconnaissance is one of the most important part in a Red Team assessment, so this tool helps you to "traduce" or resolve all DNS queries in an automatic way.</p>
      <a class="project-link" href="https://github.com/mvc1009/DNSLookuper">Check it out</a>
    </div>
  </div>